body {
    font-family: Arial,  sans-serif;
    padding: auto;
    margin: auto;
    background-color: rgba(129, 102, 209, 0.896);
    margin-top: top;
}

head {
    background-image: linear-gradient(to cover);
    background-color: red;
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
