body {
    font-family: Arial,  sans-serif;
    padding: auto;
    margin: auto;
    background-color: rgba(126, 92, 225, 0.896);
    margin-top: top;
    background-color: rgb(17, 160, 175);
}

head {
    background-image: linear-gradient(to cover);
    background-color: rgba(85, 255, 0, 0.761);
}

.carousel img {
    height: 400px;
    object-fit: cover;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
